################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/alx-low_level_programming/config
/.vs
/CppProperties.json
/.gitignore
